@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


::-moz-selection { /* Code for Firefox */
    background :#832d62;
}

::selection {
    background :#832d62;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #111;
    color: #ddd;
    /* overflow-y: hidden */
}

.navbar-left {
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.icon {
    text-decoration: none;
    color: #fff
    
}
.icon:hover
{
    text-decoration: none;
    color:#FF5DC2; /* lighter on hover */
}


.navbar {
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #FF5DC2; /* lighter on hover */
    z-index: 10000;
}

.card{
    color: #fff;
    text-decoration: none;
}


.navbar-right a {
    color: #ffff; /* bright cyan-blue */
    text-decoration: none;
    margin-left: 1rem;
}

.navbar-right a:hover {
    color:#FF5DC2; /* lighter on hover */
}

.main-columns {
    display: flex;
    height: calc(100vh - 60px); /* adjust if navbar is bigger */
    display: flex;
    gap: 0;
}


.column {
    flex: 1;
}


.tabs {
    /* margin-bottom: 1rem; */
}

.tab {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #222;
    color: #fff;
    margin-right: 0.5rem;
    cursor: pointer;
    /* sharp corners */
    border: 1px solid #fff;
}

.tab.active {
    background-color: #333;
    color: #fff;
    border: 1px solid #fff;
}

.about
{
    text-align: justify;
    position: sticky;
    font-size:large;
    background-color: #222;
    padding: 1rem;
}

.featured-project {
    background-color: #222;
    padding: 1rem;
    /* sharp corners */
    /* border: 1px solid #ffff; */
    margin-bottom: 1rem;
}

.featured-project:hover {
    background-color: #333;
    cursor: pointer;
    border: 1px solid #FF5DC2; /* lighter on hover
 */}

.featured-project img {
    width: 100%;
    margin-top: 0.5rem;
    /* sharp corners */
    border: 1px solid #FF5DC2; /* lighter on hover */
}

.title
{
    position: sticky;
    font-size:xx-large;
    background-color: #222;
    border-bottom: 1px solid #FF5DC2;
    padding: 1rem;
    gap:0;
    margin:0;
    color:#fff; /* lighter on hover */
    top:0;


}

/**************************************************************************************************/

.aboutMe
{
    font-size:xx-large; 
    color:#fff;
}

.column {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    /* border-left: 1px solid #FF5DC2; */
    border-right: 1px solid #FF5DC2;
    box-sizing: border-box;
}

.column:hover
{
    .title
    {
        background-color: #333;
        color:#FF5DC2; /* lighter on hover */
    }
}

.column:first-child {
    border-left: none;
}

.navbar:hover
{
    background-color: #333;

}

.about:hover
{
    border: 1px solid #FF5DC2;
    background-color: #333;
    .aboutMe
    {
        color:#FF5DC2;
    }
}

.column:last-child {
    border-right: none;
}
